.btn-auth {
    width: 100%; 
    max-width: 300px; 
  }

.btn {
    border-color: #27ae60; 
    color: #000000; 
    border-radius: 50px;
    padding: 8px 20px;
    margin: 5px;
    
    padding: 10px 20px; 
    font-size: 1rem; 
    text-align: center
}
  
  .btn:hover {
    background-color: #27ae60; 
    color: white;
  }

  .modal-description {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
  }

  .form-input {
    display: block; 
    margin-bottom: 10px; 
  }
  
  .btn-submit {
    display: block; 
    margin-top: 10px; 
  }
  
  .btn-back {
    width: 100%; 
    max-width: 100px; 
  }